<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>价格</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/price.css"/>
		<script src="js/swiper.min.js" type="text/javascript" ></script>	
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>	
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	</head>
	<body>
		<div class="">
			<!-- 导航栏 -->
			<div class="navbar">
				<div class="content">
					<div class="navbar-cents">
						<div class="navbar-left">
							<img src="img/logo.png" >
							<div class="img-right">
								<div class="title">小丢云打印</div>
								<div class="text">云打印系统供应商</div>
							</div>
						</div>
						<div class="navbar-right">
							<a href="index.html"><div class="">首页</div></a>
							<a href="facility.html"><div class="">功能</div></a>
							<a href=""><div class="bg">价格</div></a>
							<a href="contact.html"><div class="">联系我们</div></a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 轮播图 -->
			<div class="banner">
				<div class="swiper-containers">
				  <div class="swiper-wrapper">
				    <div class="swiper-slide">
						<div class="lineimgs">
							<img src="./img/facility/baner1.png"  >
						</div>
						<div class="linewrites lef">
							<div class="title1" data-aos="fade-right"><p>创建自己的共享打印品牌</p><p>加盟别人，不如让别人来加盟你</p></div>
							<div class="smalltitle" data-aos="fade-left">无人值守，   自助打印赚钱，  可复制的赚钱模式</div>
							<a href="contact.html"><div class="linewrite-btn" data-aos="fade-up">联系我们</div></a>
						</div>
					</div>
				    <!-- <div class="swiper-slide"><img src="img/facility/bt1.png" ></div>
				    <div class="swiper-slide"><img src="img/facility/bt2.png" ></div> -->
				  </div>
				</div>				
			</div>
			
			<!-- 价格表 -->
			<div class="price-table">
				<div class="content">
					<div class="price-header" data-aos="fade-down">
						<div class="price-header-col">
							<p>扶持版（需申请）</p>
							<p><span>￥3500</span><span class="aaas"  >10台</span></p>
						</div>
						<div class="shu"></div>
						<div class="price-header-col" >
							<div>体验版</div>
							<div><span>￥8000</span><span class="aaas">50台</span></div>
						</div>
						<div class="shu"></div>
						<div class="price-header-col">
							<p>独立品牌（可招别人加盟)</p>
							<p><span>￥50000</span><span class="aaas">开源无限制</span></p>
						</div>
					</div>
					
					<!-- 内容第一页 -->
					<div class="price-box">						
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								可用端
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">微信小程序</div>
									<img src="">
								</div>
							</div>																											
						</div>	
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								预计收入
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">假设单个站点每天20单，平均每单3元，年收益：20x3x365x10=219000元/年</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								版本迭代
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">永久免费升级，节省开发成本：自己招人开发成本3人x10000（基本工资）x12=36万/年</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>					
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								代理提成
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1">
									<div></div> 
									<div class="price-box-right-tx">10%</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								桌面软件
							</div>
							<!-- <div class="price-box-left dir" v-if="item.bots!=''">								
									<div>{{item.title}}</div>
									<div>{{item.bots}}</div>
							</div> -->
							<!-- 第一列 -->
							<div class="price-box-right" data-aos="fade-left">
								<!-- <div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">10%</div>
									<img src="./img/price/true.png">
								</div> -->
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" data-aos="fade-right">								
									<div>打印盒子授权</div>
									<div>[插件]</div>
							</div>
							
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/false.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								设备定位
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								打印机状态
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								照片打印
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/false.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								微信文档
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								本地文档
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								图转文档
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/false.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								页数识别
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								横板识别
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/false.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								自动计费
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								彩色支持
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">黑白打印，彩色打印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								纸张支持
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">A3、A4</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								双面支持
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">单面打印，双面打印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								打印模式
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">当面打印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								间隔模式
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="aaa" src="./img/price/false.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								证件复印
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">拍照复印，身份证复印，户口簿复印 营业执照复印，驾驶证复印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								微信客服
							</div>
							<div class="price-box-right" data-aos="fade-left">
								<div class=" " >
									<img class="" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" data-aos="fade-right">								
									<div>共享文库</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">文档搜索，文库管理，用户共享文档 (免费赠送)</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" data-aos="fade-right">								
									<div>广告管理</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">微信广告:微信插屏广告，微信激励广告，微信banner广告自营广告：首页轮播图，小程序跳转，网址跳转，点击量统计，点击数据实时查看(免费赠送)</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" data-aos="fade-right">								
									<div>证件照</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">自动抠图，背景色切换，自动排版，独立收费价格￥2000</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" data-aos="fade-right">								
									<div>门店入驻</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" data-aos="fade-left">
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">平台后台：打印机入驻，门店分润设置，门店独立后台，提现管理，入驻管理，打印机分配，修改密码，设置分润，最低提现。门店后台：打印机管理：增加打印机，上架下架，刷新二维码，下载机器配置提现管理：余额，提现列表，申请提现订单管理：按机器查询订单，文档下载，照片下载，基本信息展示，按日期查询单个打印机的设置：价格，名称，打印能力：A3,A4,单面，双面，黑白，彩色，上架下架页数统计：文件，照片，证件照，A3,A4,相纸收入统计：文件，照片，证件照，A3,A4,相纸￥3500</div>
									<img src="">
								</div>
							</div>																											
						</div>											
					</div>					
				</div>
				<!-- 第二列 -->
				<div class="price-box">
						<div class="linebox" >
							<div class="price-box-left direction" data-aos="fade-right">
								可用端
							</div>
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">微信小程序</div>
									<img src="">
								</div>
							</div>																											
						</div>	
						<div class="linebox" >
							<div class="price-box-left direction" >
								预计收益
							</div>
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">假设单个站点每天20单，平均每单3元，年收益：20x3x365x50=1095000元/年</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								版本迭代
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">永久免费升级，节省开发成本：自己招人开发成本3人x10000（基本工资）x12=36万/年</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>					
						<div class="linebox" >
							<div class="price-box-left direction" >
								代理提成
							</div>
							<div class="price-box-right" >
								<div class="ss1">
									<div></div> 
									<div class="price-box-right-tx">20%</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								桌面软件
							</div>
							<!-- <div class="price-box-left dir" v-if="item.bots!=''">								
									<div>{{item.title}}</div>
									<div>{{item.bots}}</div>
							</div> -->
							<!-- 第一列 -->
							<div class="price-box-right" >
								<!-- <div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">10%</div>
									<img src="./img/price/true.png">
								</div> -->
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>打印盒子授权</div>
									<div>[插件]</div>
							</div>
							
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/false.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								设备定位
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								打印机状态
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								照片打印
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								微信文档
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								本地文档
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								图转文档
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								页数识别
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								横板识别
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								自动计费
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								彩色支持
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">黑白打印，彩色打印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								纸张支持
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">A3,A4,6寸照片</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								双面支持
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">单面打印，双面打印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								打印模式
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">远程打印，当面打印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								间隔模式
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">空白纸间隔，订单信息纸间隔(可设置间隔纸价格)</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								证件复印
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">拍照复印，身份证复印，户口簿复印 营业执照复印，驾驶证复印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								微信客服
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>共享文库</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">文档搜索，文库管理，用户共享文档 (免费赠送)</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>广告管理</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">微信广告:微信插屏广告，微信激励广告，微信banner广告自营广告：首页轮播图，小程序跳转，网址跳转，点击量统计，点击数据实时查看(免费赠送)</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>证件照</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">自动抠图，背景色切换，自动排版，独立收费价格￥1600</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>门店入驻</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">平台后台：打印机入驻，门店分润设置，门店独立后台，提现管理，入驻管理，打印机分配，修改密码，设置分润，最低提现。门店后台：打印机管理：增加打印机，上架下架，刷新二维码，下载机器配置提现管理：余额，提现列表，申请提现订单管理：按机器查询订单，文档下载，照片下载，基本信息展示，按日期查询单个打印机的设置：价格，名称，打印能力：A3,A4,单面，双面，黑白，彩色，上架下架页数统计：文件，照片，证件照，A3,A4,相纸收入统计：文件，照片，证件照，A3,A4,相纸￥2800</div>
									<img src="">
								</div>
							</div>																											
						</div>											
					</div>
					
				</div>
				<!-- 第三列 -->
				<div class="price-box">
						<div class="linebox" >
							<div class="price-box-left direction" >
								可用端
							</div>
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">可自己导出：微信小程序，QQ小程序，360小程序，支付宝小程序，百度小程序，头条小程序，抖音小程序，安卓APP，IOS的APP</div>
									<img src="">
								</div>
							</div>																											
						</div>	
						<div class="linebox" >
							<div class="price-box-left direction" >
								预计收益
							</div>
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">假设单个站点每天20单，平均每单3元，年收益：20x3x365xN=1095000*N元/年</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								版本迭代
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">永久免费升级，节省开发成本：自己招人开发成本3人x10000（基本工资）x12=36万/年</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>					
						<div class="linebox" >
							<div class="price-box-left direction" >
								代理提成
							</div>
							<div class="price-box-right" >
								<div class="ss1">
									<div></div> 
									<div class="price-box-right-tx">40%</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								桌面软件
							</div>
							<!-- <div class="price-box-left dir" v-if="item.bots!=''">								
									<div>{{item.title}}</div>
									<div>{{item.bots}}</div>
							</div> -->
							<!-- 第一列 -->
							<div class="price-box-right" >
								<!-- <div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">10%</div>
									<img src="./img/price/true.png">
								</div> -->
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>打印盒子授权</div>
									<div>[插件]</div>
							</div>
							
							<div class="price-box-right" >
								<div class="ss1">
									<div></div> 
									<div class="price-box-right-tx">可卖自己的盒子</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								设备定位
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								打印机状态
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								照片打印
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								微信文档
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								本地文档
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								图转文档
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								页数识别
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								横板识别
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								自动计费
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								彩色支持
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">黑白打印，彩色打印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								纸张支持
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">A3,A4,6寸照片</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								双面支持
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">单面打印，双面打印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								打印模式
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">远程打印，当面打印，快递</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								间隔模式
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">空白纸间隔，订单信息纸间隔(可设置间隔纸价格)</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" >
								证件复印
							</div>
							<div class="price-box-right" >
								<div class="ss1" v-if="item.tex!=''">
									<div></div> 
									<div class="price-box-right-tx">拍照复印，身份证复印，户口簿复印 营业执照复印，驾驶证复印</div>
									<img src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left direction" ">
								微信客服
							</div>
							<div class="price-box-right" >
								<div class=" " >
									<img class="aaa" src="./img/price/true.png">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>共享文库</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">文档搜索，文库管理，用户共享文档(免费赠送)</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>广告管理</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">微信广告:微信插屏广告，微信激励广告，微信banner广告自营广告：首页轮播图，小程序跳转，网址跳转，点击量统计，点击数据实时查看(免费赠送)</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>证件照</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">自动抠图，背景色切换，自动排版，独立收费价格￥1000</div>
									<img src="">
								</div>
							</div>																											
						</div>
						<div class="linebox" >
							<div class="price-box-left dir" v-if="item.bots!=''">								
									<div>门店入驻</div>
									<div>[插件]</div>
							</div>							
							<div class="price-box-right" >
								<div class="ss1" >
									<div></div> 
									<div class="price-box-right-tx">平台后台：打印机入驻，门店分润设置，门店独立后台，提现管理，入驻管理，打印机分配，修改密码，设置分润，最低提现。门店后台：打印机管理：增加打印机，上架下架，刷新二维码，下载机器配置提现管理：余额，提现列表，申请提现订单管理：按机器查询订单，文档下载，照片下载，基本信息展示，按日期查询单个打印机的设置：价格，名称，打印能力：A3,A4,单面，双面，黑白，彩色，上架下架页数统计：文件，照片，证件照，A3,A4,相纸收入统计：文件，照片，证件照，A3,A4,相纸￥1750</div>
									<img src="">
								</div>
							</div>																											
						</div>											
					</div>					
				</div>				
			</div>
			<!-- 按钮 -->
			<a href="contact.html" >
				<div class="content">
					<div class="mylist" data-aos="fade-up">联系我们</div>
				</div>
			</a>
			
			<!-- 联系方式 -->
			<div class="bos">
				<div class="content">
					<div class="wxfangs">
						<div class="left" data-aos="fade-left">
							<img src="img/contact/code.png" >
							<div>添加微信客服</div>
						</div>
						<div class="left" data-aos="fade-right">
							<img src="img/contact/wxcode.png" >
							<div>微信扫码体验小程序</div>
						</div>
					</div>
					<div class="copyright">	Copyright ©小丢科技 版权所有</div>
				</div>
			</div>
			
			
		</div>
		
		
		
		
		<script type="text/javascript">
			AOS.init({
				 duration: 1200
			});
			var mySwiper = new Swiper ('.swiper-containers', {
			           // loop: true, // 循环模式选项
			           // speed: 300,
			           autoplay: false,  //间隔时间
			           
			           // 如果需要分页器
			           // pagination : '.pagination'
			       })
				   
				   
			var listHeader = document.getElementsByClassName('price-header-col')
			var listBox = document.getElementsByClassName('price-box')
			var lista = document.getElementsByClassName('aaas')
			// listBox[1].style.display = 'block'
			listHeader[0].style.background='#20AD9E'
			listHeader[0].style.color='#FFFFFF'
			lista[0].style.color='#FFFFFF'
			// listHeader[0].style.color='#FFFFFF'
			for(var i=0;i<listHeader.length;i++){
				
				listHeader[i].index = i;
				listHeader[i].onclick = function(){
					for(var i=0;i<listHeader.length;i++){
						listHeader[i].style.background='#FFFFFF'
						listHeader[i].style.color='black'
						lista[i].style.color='#999999'
						listBox[i].style.display='none'
					}
					listHeader[this.index].style.color='#FFFFFF'
					listHeader[this.index].style.background='#20AD9E'
					listBox[this.index].style.display = 'block'
					lista[this.index].style.color='#FFFFFF'
					// listBox[this.index].style='price-box'
					
					}
					for(var m=1;m<listHeader.length;m++){
						listBox[m].style.display='none'
						listHeader[m].style.background='#FFFFFF'
						listHeader[m].style.color='black'
						lista[m].style.color='#999999'
				}
			}
			
		</script>
	</body>
</html>
